* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


p {
    color: #222;
    font-size: 16px;
}

div {
    background-color: rgb(161, 159, 159);
    padding: 19px;
}

div a {
    color: green;
}

.btn-comprar {
    color: black;
    font-size: 10px;
}

#principal {
    width: 100px;
}

a {
    width: 100px;
    height: 25px;
}

a:hover {
    font-size: 20px;
    color: brown;
    background-color: coral;
}