* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


p {
    color: #222;
    font-size: 16px;
}

div {
    background-color: rgb(161, 159, 159);
}

div a {
    color: green;
}

.btn-comprar {
    color: black;
    font-size: 10px;
}

#principal {
    width: 300px;
    height: 400px;
    margin: auto;
    background-color: crimson;
}
.box-1 {
    width: 200px;
    height: 200px;
    background-color: coral;
    padding: 10px 20px;
    border: 1px solid black;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.445) 6px 6px;
}
.box-2 {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    background-color: coral;
    padding: 10px 20px;
    border: 1px solid black;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.445) 6px 6px;
}

a {
    width: 100px;
    height: 25px;
}

a:hover {
    font-size: 20px;
    color: brown;
    background-color: coral;
}